<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div id="header" class="container">
  <div class="row">
   <h2><a href="/">Bloogi - maailmanympärimatkalta 2009</a></h2>
  </div>
</div>

  
    <div class="container">
      <div class="row">
      <div class="col-md-6">
      {{ content }}
      <div id="page-navigation">
        <div class="clear">&nbsp;</div>
        <div class="left">
        {% if page.previous.url %}
                <a href="{{page.previous.url}}" title="Previous Post:
{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        </div>

        <div class="right">
        {% if page.next.url %}
                <a href="{{page.next.url}}" title="next Post:
{{page.next.title}}">{{page.next.title}} &raquo; </a>
        {% endif %}
        </div>
        <div class="clear">&nbsp;</div>
</div>
       </div>
       <div class="col-md-4">
               <div id="sidebar-right" class="column sidebar">
					<div id="side-content">

					
          	
<div id="block-block-1" class="block block-block">  
  <div class="blockinner">
    <h2 class="title"> Reitti </h2>
    <div class="content">
      <p>Helsinki - Delhi - Agra - Varanasi - Pokhara - Kathmandu - Hong Kong - Beijing - Shanghai - HK - MV Pacific Link - Los Angeles - ... - Seattle - <u>Vancouver</u> - ...</p>    </div>    
  </div>
</div>

<div id="block-bloogi-tyypit" class="block block-bloogi">  
  <div class="blockinner">
    <h2 class="title"> Kategoriat </h2>
    <div class="content">
      <table>
<tbody>
 <tr class="odd"><td><img src="../sites/bloogi.org/files/category_pictures/mail-notification.png" alt="Kirjeet" title="Pidemm&amp;amp;auml;t sepustukset tapahtuneista." height="16" width="16"></td><td><a href="../category/stoorityypit/kirjeet.html">Kirjeet</a></td><td align="right">8</td> </tr>
 <tr class="even"><td><img src="../sites/bloogi.org/files/category_pictures/gnome-mime-image.png" alt="Kortit" title="V&amp;amp;auml;l&amp;amp;auml;hdyksi&amp;amp;auml; matkan varrelta." height="16" width="16"></td><td><a href="../category/stoorityypit/kortit.html">Kortit</a></td><td align="right">13</td> </tr>
 <tr class="odd"><td><img src="../sites/bloogi.org/files/category_pictures/gnome-status.png" alt="Sähkeet" title="Miss&amp;amp;auml; oon, mit&amp;amp;auml; teen, mihin oon menossa." height="16" width="16"></td><td><a href="../category/stoorityypit/sahkeet.html">Sähkeet</a></td><td align="right">18</td> </tr>
 <tr class="even"><td><img src="../sites/bloogi.org/files/category_pictures/weather-overcast.png" alt="Sekalaiset" title="Sekalaiset" height="16" width="16"></td><td><a href="../category/stoorityypit/sekalaiset.html">Sekalaiset</a></td><td align="right">1</td> </tr>
</tbody>
</table>
    </div>    
  </div>
</div>
	        </div> <!-- /side-content -->
		     </div> <!-- /sidebar-right -->

       
       </div>
      </div>
      
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>

