<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/stylesheets/colorbox.css" rel="stylesheet" >
    <link href="{{ site.baseurl }}/stylesheets/site.css" rel="stylesheet" >
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TDKSCS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TDKSCS');</script>
<!-- End Google Tag Manager -->

  <div id="header" class="container">
  <div class="row">
   <h2><a href="{{ site.baseurl }}/">Bloogi - maailmanympärimatkalta 2009</a></h2>
  </div>
</div>

  
    <div class="container">
      <div class="row">
      <div class="col-md-6">
      <h1>{{ page.title}}</h1>
      {{ content }}
      <div id="page-navigation">
        <div class="clear">&nbsp;</div>
        <div class="left">
        {% if page.previous.url %}
		
                <a class="btn btn-default btn-lg" href="{{ site.baseurl}}{{page.previous.url}}" title="Edellinen:
{{page.previous.title}}">&laquo; Edellinen: {{page.previous.title}}</a>
        {% endif %}
        </div>

        <div class="right">
        {% if page.next.url %}
	    
                <a class="btn btn-default btn-lg" href="{{ site.baseurl}}{{page.next.url}}" title="Seuraava:
{{page.next.title}}">Seuraava: {{page.next.title}} &raquo; </a>
        {% endif %}
        </div>
        <div class="clear">&nbsp;</div>
</div>
       </div>
       <div class="col-md-4">
               <div id="sidebar-right" class="column sidebar">
					<div id="side-content">

					
          	
<div id="block-block-1" class="block block-block">  
  <div class="blockinner">
    <h2 class="title"> Reitti </h2>
    <div class="content">
      <p>Helsinki - Delhi - Agra - Varanasi - Pokhara - Kathmandu - Hong Kong - Beijing - Shanghai - HK - MV Pacific Link - Los Angeles - ... - Seattle - Vancouver - ...</p>    </div>    
  </div>
</div>
	        </div> <!-- /side-content -->
		     </div> <!-- /sidebar-right -->

       
       </div>
      </div>
      
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl}}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl}}/javascripts/jquery.colorbox-min.js"></script>
    <script>
    
    function gallerize() {
        $('a.gallerize').colorbox({
                opacity : 0.8,
                rel : 'group1',
                current : "Kuva {current} / {total}",
                maxHeight : '100%',
        });	
    }
    $(document).ready(function() { gallerize(); });

    </script>
  </body>
</html>

